@page "/app"
@using Selector.SignalR
@inject HubManager hubManager
@inject ILogger<Index> logger

<h1 class="text-center">run that</h1>

@code {

    protected async override Task OnInitializedAsync()
    {
        await hubManager.EnsureConnected();
    }
}