@page "/past"
@using Selector.SignalR;

<h1>Past</h1>

<div class="app">

    

</div>

<div class="v-space"></div>

@code {

    protected async override Task OnInitializedAsync()
    {
        
    }
}

