@page "/past"
@using Selector.SignalR;
@using System.Linq;
@implements IDisposable

<h1>Past</h1>

<div class="app">

    

</div>

<div class="v-space"></div>

@code {

    protected async override Task OnInitializedAsync()
    {
        
    }
}

