@page "/past"
@using Selector.SignalR;

<h1 class="text-center">Past</h1>

<div class="app text-center">

    

</div>

<div class="v-space"></div>

@code {

    protected override void OnInitialized()
    {
        
    }
}

