@page "/past"

<h1 class="text-center gothic">past</h1>

<div class="app text-center">

    

</div>

<div class="v-space"></div>

@code {

    protected override void OnInitialized()
    {
        
    }
}

