@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>Selector is a tool for monitoring Spotify usage.</p>

    <a href="/now" class="dash-underline-lg link-dark" style="">Now Playing</a>
</div>