@page
@model NowModel
@{
    ViewData["Title"] = "Now";
}

<div class="text-center">
    <h1 class="display-4">Now</h1>
    <div id="app">
        <h1>{{ count }}</h1>
    </div>
</div>

@section Scripts {
    <script type="module" src="~/js/now.bundle.js"></script>
}