@page
@model NowModel
@{
    ViewData["Title"] = "Now";
}

<div class="text-center">
    <h1 class="display-4">Now</h1>
    <div id="app" class="col-12">
        <now-playing-card :track="currentlyPlaying.track" class="col-md-3"></now-playing-card>
    </div>
</div>

@section Scripts {
    <script type="module" src="~/js/now.bundle.js"></script>
}