@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Selector is a side project that I don't/won't/can't monetise. No extra personal information is stored and all information can be deleted whenever you like. Your credentials are a username, email and password only, I don’t want your name/phone number. No analytics/ad libraries are used.</p>

<p>Selector relies on a link to your Spotify account in order to see what you're listening to and respond. When you link your Spotify account, Selector is provided with a key that it can use to make requests of Spotify. You can unlink Spotify from the Selector settings, doing so clears all stored Spotify credentials, completely removing Selector's ability to access your Spotify account. If and when you would like to prevent Selector's access to your Spotify account, you can also revoke Selector's access from your <a href="https://www.spotify.com/uk/account/apps/">Spotify account settings</a>.</p>

<p>Selector also has Last.fm integrations, enabled by providing your username in the Selector settings page. Selector only uses publicly available Last.fm data, no authentication with Last.fm is required and removing the username from Selector’s settings disables the integration.</p>

<p>You can manage your personal data <a href="/Identity/Account/Manage/PersonalData">here</a>. From this page you can download or delete your data.</p>

<p>If you have any questions or concerns about your data, you can contact me using the form on <a href="https://sarsoo.xyz/about">sarsoo.xyz</a>.</p>