@import "now.scss";
@import "past.scss";

$background-color: #2b2b2b;
$nav-background-color: #232323;
$card-background-color: #3c3c3c;

body {
    background-color: $background-color;
    color: #efefef;
}

.navbar-bg {
    background-color: $nav-background-color;
}

.form-element {
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu-icon {
    vertical-align: middle;
    float: right;
}

.unselected img {
    filter: brightness(0.4);
}

.black-img {
    filter: brightness(0);
}

.central {
    vertical-align: middle;
}

.data-value {
    color: grey;
}

.separator-border {
    border-bottom: 1px solid #191919;
}

.dash-underline {
    text-decoration: dotted;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;

    &:hover {
        text-decoration: solid;
        text-decoration-line: underline;
        text-decoration-thickness: 1.5px;
    }
}

.dash-underline-lg {
    font-size: 24px;
    text-decoration: dotted;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 5px;

    &:hover {
        text-decoration: solid;
        text-decoration-line: underline;
        text-decoration-thickness: 3.4px;
    }
}

.link-dark {
    color: #a3a3a3;

    &:hover {
        color: #a3a3a3;
    }
}

input[type=text], input[type=email], input[type=tel], input[type=password] {
    background-color: #444444 !important;
    border-color: #545454;
    color: $text-color;

    &:focus {
        color: $text-color;
    }
}

.card {
    background-color: $card-background-color;
    color: $text-color;
    margin: 5px;
    padding: 15px;
    box-shadow: 5px 5px 0px $shadow-color;
    transition: box-shadow 0.5s;

    border-style: solid;
    border-color: black;
    border-width: 5px;

    &:hover {
        box-shadow: none;
        offset: 4px 4px;
    }
}

.daily-scrobbles-card {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;

    p {
        margin: 10px;
        font-size: 45px;
    }
}