@using Selector.MAUI.Services;

@inherits LayoutComponentBase
@inject SessionManager session

<div class="page">
    @if (session.IsLoggedIn)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }
    <main>
        <div class="top-row px-4">
            <a href="https://sarsoo.xyz/posts/selector/" class="dash-underline-lg link-dark" target="_blank">About</a>
        </div>

        <article class="content px-4 text-center">
            @Body
        </article>
    </main>
</div>

@*<footer class="footer text-muted">
    <div class="container">
        &copy; 2023 - Selector.MAUI - <a href="https://selector.sarsoo.xyz/privacy/">Privacy</a>
    </div>
    <div style="text-align: center">
        <a href="https://sarsoo.xyz/about/" style="display: inline-block">
            <img src="/andy.png"
                 alt="AP"
                 width="120px"
                 style="display: block;
                    margin-left: auto;
                    margin-right: auto;
                    padding: 8px">
        </a>
    </div>
</footer>*@

