@page
@model LastFmModel
@{
    ViewData["Title"] = "Last.fm";
    ViewData["ActivePage"] = ManageNavPages.LastFm;
}

<h4>@ViewData["Title"] <a href="https://last.fm" target="_blank"><img src="/last-fm.png" class="lastfm-logo central" /></a></h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="lastfm-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group form-element">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group form-element">
                <label asp-for="Input.ScrobbleSaving"></label>
                <input asp-for="Input.ScrobbleSaving" />
                <span asp-validation-for="Input.ScrobbleSaving" class="text-danger"></span>
            </div>
            <button id="save-button" type="submit" asp-page-handler="Save" class="btn btn-primary form-element">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
